body {
  border-top: 5px solid #dd0000;
}

a {
  color: #000;

  &:hover {
    color: red;
  }
}

main, footer {
  margin: 0 auto;
}

main {
  width: 450px;
  background-color: #eee;
  padding: 20px 60px 30px 60px;
  border-radius: 4px;

  ul>li {
    margin: 4px 0;
  }

  code {
    display: block;
    background-color: #000;
    color: lime;
    padding: 10px;
    border-radius: 2px;
    margin: 10px 0;
  }

  .usage {
    margin-top: 100px;
  }
}

footer {
  width: 540px;
  margin-top: 10px;
  font-size: smaller;

  .right {
    float: right;
  }
}

.angular-kick-logo {
  width: 300px;
  margin: 60px auto;
}

.selected-framework {
  background: #315a6f;
  color: white;
  padding: 5px;
  margin: 5px;
  border-radius: 4px;
  display: inline-block;
  .remove-framework {
    cursor: pointer;
  }
}
.sub-checkbox {
  margin-left: 20px !important;
}