<div layout="column" mobx-autorun>
  <md-input-container>
    <input placeholder="filter frameworks" ng-model="$ctrl.frameworks.filter"/>
  </md-input-container>
  <md-checkbox flex class="red"
    ng-model="$ctrl.frameworks.isAllChecked"
    ng-disabled="!$ctrl.frameworks.filteredItems.length"
    md-indeterminate="!$ctrl.frameworks.filteredItems.length">
    {{ $ctrl.frameworks.isAllChecked === true ? 'Uncheck All' : 'Check All' }}
  </md-checkbox>

  <md-checkbox flex class="red sub-checkbox"
    ng-repeat="item in $ctrl.frameworks.filteredItems" ng-model="item.checked">
    {{ item.name }}
  </md-checkbox>
  <form autocomplete="off" ng-submit="$ctrl.addNew()">
    <md-input-container>
      <input
        placeholder="add new item"
        ng-model="$ctrl.newItem" />
    </md-input-container>
  </form>
</div>
